body {
  text-align: center;
  background-color: #F6F3CE
}
h1 {
  font-size: 50px;
  margin: 15px;
}
button {
  width: 100px;
  border-style: solid;
  border-radius: 5px 5px 5px 5px;
  border-color: black;
  margin: 15px;
  background-color: white;
}
ul {
  list-style-type: none;
  list-style-position: inside;
  padding-left: 0;
}
a {
  padding-left: 15px;
  color: black;
}
p {
  margin: 0 auto;
  text-align: justify;
  font-size: 20px;
  width: 30%;
}
li {
  margin: 0 auto;
  font-size: 20px;
  margin-top: 15px;
  width: 75%;
}
#nav-div {
  text-align: left;
  padding-top: 15px;
  padding-bottom: 15px;
}
#text-box {
  width: 400px;
  border-style: solid;
  border-radius: 15px 15px 15px 15px;
  padding: 8px;
}
